body {
	font-family: sans-serif;
	margin: 0;
}

nav {
	background-color: #000;
	margin: auto 0;
	padding: 10px;
}

li {
	list-style-type: none;
	color: #fff;
	display: inline;
	padding-right: 20px;
}

section {
	float: left;
	width: 50%;
}

aside {
	float: right;
	width: 50%;
}

footer {
	font-size: 10px;
	/*color: #fff;
	text-align: center;
	background-color: #000;
	height: 60px;
	padding: 10px;*/
}

h1 {
	font-size: 55px;
	margin: 20px 20px 10px 20px;
}

h3 {
	font-size: 25px;
	margin: 10px 20px;
}

p {
	margin: 20px;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.container{
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
}

.main-area {
	margin-top: 60px;
	height: 500px;
	overflow: hidden;
}

.intro {
	border: 2px dashed #f00;
	height: 200px;
	width: 60%;
	margin: 10% auto;
	text-align: center;
}

.explanation {
	border: 2px dashed #f00;
	height: 150px;
	width: 60%;
	margin: 10% auto;
	text-align: center;
}

.bubble {
	position: relative;
	background-color: #000;
	height: 100px;
	width: 100px;
	border: 3px solid #ddd;
	border-radius: 100%;
	margin: 10px;
}

.play {
	position: relative;
	background-color: #ddd;
	height: 30px;
	width: 30px;
	border: 3px solid #ddd;
	border-radius: 100%;
	margin: 10px;
	top: 56px;
	right:-56px;
}

#div-one {
	position: relative;
	top: -20px;
	right: -5px;
}

#div-two {
	position: relative;
	height: 77px;
	width: 77px;
	top: -400px;
	right: -46px;
}

#div-three {
	position: relative;
	top: -196px;
	right: -331px;
}

#div-four {
	position: relative;
	top: -645px;
	right: -344px;
}

#div-five {
	position: absolute;
	height: 60px;
	width: 60px;
	top: 350px;
	right: 30px;
	background-color: #000;
}


.main-window {
	position: relative;
	background-color: #000;
	border: 5px solid #ddd;
	border-radius: 100%;
	margin: 10px;
	top: 50px;
	left: 121px;
	height: 300px;
	width: 300px;
	z-index: 1;
}

/* fonts */

#emp {
	font-style: italic;
	font-family: light; 
}

#excite {
	font-size: 20px;
	font-weight: bold;
}

#title {
	font-size: 20px;
	font-weight: bold;
}

.smaller {
	font-size: 50px;
}